/* ==========================================================================
   My Custom Styles
   ========================================================================== */

/* サイト全体の表示コンテナの最大幅を調整し、可読性を向上させる */
#main {
  max-width: 85%;     /* 基本は画面の85%の幅にする */
  width: 100%;        /* 幅の基準を100%にする（念のため） */
  padding: 0 1em;    /* 左右に少し余白（padding）を持たせる */

  // PCなどの大きな画面で見ている場合
  @media (min-width: 640px) {
    max-width: 1280px; /* ただし、どんなに画面が大きくても最大幅は1280pxまでにする */
  }

  // ブロック全体を中央に配置する
  margin-left: auto;
  margin-right: auto;
}
